.b {
    height: 100%;
}


/*분석칸에도 적용*/
.back {
    background-image: url(../img/backg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }

