@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');




.e {
    font-family: 'Noto Sans KR', sans-serif;
    /* margin-left: 10%; */
    text-align: center;
}

.f {
    margin-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}