.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    background-image: url(img/backg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }

